:root {
    --background-color: #fef6e4;
    --primary: ;
    --secundary: ;
    
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    background-color: var(--background-color);
    min-height: 91vh;
    padding-top: 25vh;
}

p {
    font-weight: 500;
}

